$codeBgColor = #f8f8f8;

.theme-default-content pre code, .theme-default-content pre[class*='language-'] code, div[class*='language-']::before {
  color: #58727e !important;
}

div[class*='language-'] pre, div[class*='language-'] pre[class*='language-'] {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px inset;
  filter: saturate(1.5);
}

.theme-default-content pre, .theme-default-content pre[class*='language-'] {
  padding-top: 2em;
}

/* 解决代码块背景贴边问题 */
.theme-default-content div[class*='language-'] {
  margin: 0 !important;
}

/* 解决``引用边距问题 */
.theme-default-content.content__default code {
  margin: 0 5px !important;
}

/* 侧边栏 */
.sidebar, header.navbar {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-bottom: none !important;
  border-right: none !important;
}

/* 警告提示 */
.custom-block.warning, .custom-block.tip {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* 复制成功字体颜色 */
.code-copy span {
  color: #58727e;
  right: 35px;
}

/* table表格 */
table {
  width: 100%;
  display: table !important;

  th, td {
    border: none !important;
  }

  thead {
    tr {
      border: none !important;
      text-align: left !important;
    }
  }

  tbody {
    td {
      border-top: 1px solid #f1f4f8 !important;
    }
  }
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #f7f8fa !important;
}

/* 滚动条整体背景 */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* 外层轨道 */
*::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* 滚动条里面可以拖动的那部分 */
*::-webkit-scrollbar-thumb {
  background: #7ec699;
  border-radius: 5px;
}

h1 {
  margin-bottom: 30px !important;
}

.demoBox {
  width: 100%;
  background-color: #fcfcfc;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0 5px 0px inset;
  color: #000;
  margin: 25px 0;
}

/* 右边最大宽度 */
.theme-default-content:not(.custom) {
  max-width: 1280px !important;

  img {
    max-width: initial !important;
  }
}

/* 改变复制按钮的位置 */
.code-copy {
  svg {
    right: 25px !important;
  }

  span {
    top: 12.5px !important;
    right: 50px !important;
  }
}

/* 隐藏搜索框 */
.search-box {
  display: none !important;
}